<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitt</title>
    <link href="{{ url_for('static', filename='styles/styles.css')}}", rel="stylesheet" />
    
</head>
<body>
    <h1>Habitt Home Page</h1>
    
    <nav>
        <button type="button">Create Habit</button>
        <div><h2>Habits</h2>

        </div>
        <div><h2>Analytics</h2>
        </div>
    </nav>
    <main><h1>Primary view</h1></main>
</body>
</html>