
{% extends "partials/layout.html" %}
{% set title = "creator"%}

{% block title %} {{title.capitalize()}} {% endblock %}
{% block head %}
    {{ super() }}
    <!--  <script src="{{ url_for('static', filename='js/' + title.lower()) + '.js' }}"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/' + title.lower()) + '.css' }}">
{% endblock %}

{% block content %}

    <div class="divider"></div>
    <div class="container">
        <h1>Create a New Habit</h1>
        <form action="/creator" method="POST">
            <label for="name">Habit Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="desc">description:</label>
            <textarea id="desc" name="desc" rows="3"></textarea>

            <label for="interval">Interval:</label>
            <select id="interval" name="interval" required>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
            </select>

            <button type="submit" class="btn">Create Habit</button>
        </form>
        <a href="/" class="back-btn">Back to Home</a>
    </div>
{% endblock %}