<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <script defer src="/static/js/habits.js"></script>
    <link href="{{ url_for('static', filename='styles/habits.css')}}", rel="stylesheet" />
</head>
<body>
    <a href="{{ url_for('index')}}" style="text-decoration: none;color: black;">
        <div class="header">
            <img src="static\img\Ht icon.png" alt="Habitt Logo" id="logo">
            <h1> Habitt App</h1>
        </div>
    </a>
    
    <div class="divider"></div>
    <nav id="nav-bar">
        <ul>
            <li><a href="/">Analytics</a></li>
            <li><a id="active" href="/habits">Habits</a></li>
            <li><a href="/creator">Create Page</a></li>
        </ul>
    </nav>
    <h1>All Habits</h1>
    <div class="searchbar">
        <input type="text" class="grow1" id="search" placeholder="Search habits..." />
        <select id="interval">
            <option  value="all">All Intervals</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
        </select>
        <input type="number" id="streak" placeholder="Minimum Streak Length" />
        <button onclick="fetchHabits()">Filter</button>
    </div>


    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Habit Name</th>
                    <th>Desc</th>
                    <th>Interval</th>
                    <th>Streak</th>
                </tr>
            </thead>
            <tbody id="habitTableBody">
                <!-- Habit rows will be inserted here -->
            </tbody>
        </table>
    </div>
</body>
</html>