{% extends "partials/layout.html" %}
{% set title = "habits"%}

{% block title %} {{title.capitalize()}} {% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/' + title.lower()) + '.js' }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/' + title.lower()) + '.css' }}">
{% endblock %}

{% block content %}
    <h1>All Habits</h1>
    <div class="searchbar">
        <!-- for filtering -->
        <input type="text" class="grow1" id="search" placeholder="Search habits..." />
        <select id="interval">
            <option  value="all">All Intervals</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
        </select>
        <input type="number" id="streak" placeholder="Minimum Streak Length" />

        <!-- for sorting -->
        <select id="sort">
            
            <option value="none">Sort By</option>
            <option value="l">Longest Streak</option>
            <option value="c">Shortest Streak</option>
            <option value="name">Alphabetical (A-Z)</option>
        </select>
        <div class="culomn">
        <label>
            <input type="checkbox" id="reverseSort"> </label> 
            <p style="margin: 0;">⬆️</p>
        </div>
        <button onclick="fetchHabits()">Apply</button>
    </div>


    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Habit Name</th>
                    <th>Desc</th>
                    <th>Interval</th>
                    <th>Streak</th>
                </tr>
            </thead>
            <tbody id="habitTableBody">
                <!-- habit -->
            </tbody>
        </table>
    </div>
{% endblock %}