<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/checkboxes.js') }}"></script>
    <title>Habitt</title>
    <link href="{{ url_for('static', filename='styles/index.css')}}", rel="stylesheet" />
    
</head>
<body>
    <div class="header">
        <img src="static\img\Ht icon.png" alt="Habitt Logo" id="logo">
        <h1> Habitt App</h1>
    </div>
    
    <div class="divider"></div>
    <section class="layout">
        <div class="sidebar">
            {% include "partials/sidebar.html"%}
        </div>
        <div class="body">
            <nav id="nav-bar">
                <ul>
                    <li><a id="active" href="/">Analytics</a></li>
                    <li><a href="/habits">Habits</a></li>
                    <li><a href="/creator">Create Page</a></li>
                </ul>
            </nav>
            <div class="analytics">
                <div id="week">
                    <h2>Progress Tracker</h2>
                    <div class="divider"></div>
                    <div>{{ plot_weekly_prog | safe }}</div>
                </div>

                <div id="long">
                    <h2>Longest Streaks across Habits</h2>
                    <div class="divider"></div>
                    <div>{{ plot_long | safe }}</div>
                </div>
            </div>
        </div>
      </section>
      
</body>
</html>